# Dependency directories
node_modules/
jspm_packages/

#test results
cypress/downloads
cypress/screenshots
cypress/videos

#package-lock file
package-lock.json

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test